#start_page {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute
}

#highscores {
    border-color: black;
    font-size: 50px;
}

#start_button {
    border-color: black;
    font-size: 50px;
}

#startingbuttons,
#categories {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 2px;
    width: 100%;
    top: 40%;
    white-space: pre-line;
}

.letter_buttons {
    border-color: green;
    font-size: 4vh;
    background-color: olivedrab;
    margin: 5px;

}

#letter_buttons_block {
    position: relative;
    bottom: 75px;
}

#sports,
#brands,
#countries,
#food {
    font-size: 30px;
    border-color: black;
}

#image_block {
    margin-left: 30%;
    margin-top: 10%;
    position: relative;
}

#score_block {
    font-size: 30px;
    margin-top: -700px;
    margin-left: 2%;
}

#lives_block {
    font-size: 30px;
    margin-left: 2%;
}

#game_over {
    font-size: 20px;
    margin-top: 200px;
    margin-left: 10%;
}

#in-game_elements {
    margin-top: 50px;
}

#answerPlacement {
    margin-top: -100px;
}

#restartButton {
    border-color: black;
    font-size: 20px;
    bottom: 200px;
}

#restart {
    position: relative;
    top: 15px;
    left: 2%;
}

#answer_bank {
    word-spacing: 2px;
}

#answer_bank_block {
    position: relative;
    bottom: 100px;
    letter-spacing: 5px;
    font-size: 36px;
}

 
#cat1{
    position:absolute;
    margin-left:50px;
    margin-top:100px;
}
#cat2{
    position:absolute;
    margin-left:170px;
    margin-top:100px;
}

#cat3{
    position:absolute;
    margin-left:290px;
    margin-top:100px;
}
#cat4{
    position:absolute;
    margin-left:450px;
    margin-top:100px;
}
/* .sportsName{
    position:absolute;
     margin-top:100px;
}  */
 .sportsScore{
    position:absolute;
    margin-top:-30px;
    margin-left:150px;
} 
  #cat1NameScores{
    position:absolute;
    margin-left:0px; 
    margin-top:150px;
  }
.brandsScore{
    position:absolute;
    margin-top:-35px;
    margin-left:100px;
     
}  
#cat2NameScores{
    position:absolute;
    margin-left:190px;
    margin-top:150px;   
}
.countriesScore{
    position:absolute;
    margin-top:-35px;
    margin-left:100px;
     
} 
#cat3NameScores{
    position:absolute;
    margin-left:320px; 
    margin-top:150px;

} 
.foodScore{
    position:absolute;
    margin-top:-35px;
    margin-left:100px;
     
} 
#cat4NameScores{
    position:absolute;
    margin-left:470px; 
    margin-top:150px;

}

#game_over_text {
    font-size: 50px;

}

#name, #submit {
    font-size: 18px;

}
